<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Flight_Backend</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFlight</display-name>
    <servlet-name>GetFlight</servlet-name>
    <servlet-class>GetFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFlight</servlet-name>
    <url-pattern>/GetFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTickets</display-name>
    <servlet-name>GetTickets</servlet-name>
    <servlet-class>GetTickets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTickets</servlet-name>
    <url-pattern>/GetTickets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingServlet</display-name>
    <servlet-name>BookingServlet</servlet-name>
    <servlet-class>BookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingServlet</servlet-name>
    <url-pattern>/BookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightAdmin</display-name>
    <servlet-name>FlightAdmin</servlet-name>
    <servlet-class>FlightAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightAdmin</servlet-name>
    <url-pattern>/FlightAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminFlightAdd</display-name>
    <servlet-name>AdminFlightAdd</servlet-name>
    <servlet-class>AdminFlightAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminFlightAdd</servlet-name>
    <url-pattern>/AdminFlightAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminFlightEdit</display-name>
    <servlet-name>AdminFlightEdit</servlet-name>
    <servlet-class>AdminFlightEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminFlightEdit</servlet-name>
    <url-pattern>/AdminFlightEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFlight</display-name>
    <servlet-name>UpdateFlight</servlet-name>
    <servlet-class>UpdateFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFlight</servlet-name>
    <url-pattern>/UpdateFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFlight</display-name>
    <servlet-name>SearchFlight</servlet-name>
    <servlet-class>SearchFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFlight</servlet-name>
    <url-pattern>/SearchFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelTicket</display-name>
    <servlet-name>CancelTicket</servlet-name>
    <servlet-class>CancelTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelTicket</servlet-name>
    <url-pattern>/CancelTicket</url-pattern>
  </servlet-mapping>
</web-app>